:root {
  --shadow-color: -4px -4px 13px 4px #fff, 4px 4px 13px 4px #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eee;
}

.form {
  border-radius: 16px;
  padding: 32px;
  width: 100%;
  max-width: 480px;
  box-shadow: -2px -2px 6px 2px #fff, 2px 2px 6px 2px #c4c4c4;
}

h3 {
  color: #aabbbb;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 2px 2px 2px #fff, -1px -1px -1px #a4a4a4;
  text-align: center;
  margin-bottom: 16px;
}

.input {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  border-radius: 16px;
  padding: 16px;

  display: block;
  width: 100%;
  max-width: 320px;
  margin: 0 auto 16px;
  color: #aaa;
  font-size: 18px;
  box-shadow: inset -4px -4px 10px 4px #fff, inset 4px 4px 10px 4px #c4c4c4;
  transition: 0.2s ease-out;
}

.input::placeholder {
  color: #ccc;
}

.input:focus {
  box-shadow: inset -1px -1px 3px 1px #fff, inset 1px 1px 3px 1px #c4c4c4;
}

.btn {
  color: #aabbbb;
  cursor: pointer;
  border: 3px solid transparent;
  padding: 13px;
  font-weight: 700;
  box-shadow: var(--shadow-color);
}

.icon {
  margin-right: 8px;
}

.btn:focus {
  box-shadow: var(--shadow-color);
}

.btn:hover {
  box-shadow: -3px -3px 8px 3px #fff, 3px 3px 8px 3px #c4c4c4;
}

.btn:active {
  color: #ff5858;
  box-shadow: var(--shadow-color);
  border-color: #dfdfdf ;
}

.btn.active {
  color: #ff5858;
  box-shadow: -2px -2px 8px #c4c4c4, 2px 2px 8px 2px #fff;
  border-color: #dfdfdf;
}